<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<body>
    <div class="container">
        <div class="title">
            <h2 class="carrier-title-heading">Carrier List</h2>
            <form action="/delete-carrier" method="post" id="carrier-form" class="carrier-form">
                <button class="carrier-btn" name="button" value="delete" type="submit" onclick="return confirm('Are you sure you want to delete the selected carriers?')">Delete</button>
            </form>
            <a class="carrier-btn" href="/add-carrier">Add</a>
        </div>

        <br>

        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th><input type="checkbox" onClick="toggle(this)"></th>
                    <th>Carrier</th>
                </tr>
            </thead>
            <tbody>
                <% carriers.forEach(function(carrier) { %>
                    <tr>
                        <th><input type="checkbox" name="checkbox" form="carrier-form" value="<%= carrier._id %>"></th>
                        <td><%= carrier.carrierName %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <%- include("partials/footer"); -%>
    <%- include("partials/scripts"); -%>    
</body>

</html>
