<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<body>
  <div class="container">
    <div class="title">
        <h2 class="title-heading" style="display: inline;">Destination</h2>
        <form action="/delete-destination" method="post" class="destination-form" id="destination-form">        
          <button class="destination-btn" name="button" value="delete" onclick="return confirm('Are you sure you want to delete the selected carriers?')">Delete</button>
        </form>
        <a href="/add-destination" class="destination-btn">Add</a>
    </div>
    <p>Please Select a Customer to add, update or delete destination & address</p>

    
    <div class="row">
      <div class="col-md-4">
        <label>Customer</label>
      </div>
      <div class="col-md-8">
        <label>Destination: Address</label>
      </div>
    </div>

    <hr id="destination-hr">
    
    <% customers.forEach(function(customer) { %>
    <div class="row">
      <div class=" col-md-4">
        <ul class="customer-li">
          <li name="customer"><%= customer.customer %></li>
        </ul>
      </div>

      <div class="col-md-8">
          <% destinations.forEach(function(destination) { %>
            <% if (customer._id.equals(destination.customer_id)) { %>
              <% if (destination.destination === "NA") { %>
                <p>No Destination/Address</p>
              <% } else { %>
                <input type="radio" name="destination" value="<%= destination._id %>" form="destination-form"> <a href="/update-destination/<%= destination._id %>"><%= destination.destination %>: <%= destination.streetAddress %>, <%=destination.city %> <%= destination.state %>, <%= destination.zipcode %>, <%= destination.country %></a><br>
              <% } %>
            <% } %>
          <% }) %>
        </select>
      </div>
    </div>
    <hr>
    <% }); %>
</div>

<%- include("partials/footer"); -%>
<%- include("partials/scripts"); -%>

</body>

</html>