<%- include('partials/header'); -%>

  <h1>Update Carrier and Freight</h1>
  <p>Please update carrier and freight below and submit</p>
  <br/>
  <form class="" action="/freight-detail/<%=request_id%>" method="post">

    <div class="row">
      <div class="form-group col-md-12">
        <label for="customer">Customer</label>
        <input class="form-control" id="inputCustomer" type="text" name="customer" value="<%= customer %>" required readonly>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputShippingFrom">Shipping From</label>
        <input type="text" class="form-control" id="inputShippingFrom" name="shippingFrom" value="<%= shippingFrom %>" required readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="inputDeliveryTo">Delivery To</label>
        <input type="text" class="form-control" id="inputDeliveryTo" name="deliveryTo" value="<%= deliveryTo %>" required readonly>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputShippingDate">Shipping Date</label>
        <input class="form-control" id="inputShippingDate" type="date" name="shippingDate" value="<%= shippingDate %>" required readonly>
      </div>

      <div class="form-group col-md-6">
        <label for="inputDeliveryDate">Delivery Date</label>
        <input class="form-control" id="inputDeliveryDate" type="date" name="deliveryDate" value="<%= deliveryDate %>" required readonly>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="inputKg">Weight(kg)</label>
        <input class="form-control" id="inputKg" type="text" name="weightKg" pattern="[0-9]{1,5}" value="<%= weightKg %>" required readonly>
      </div>

      <div class="form-group col-md-4">
        <label for="inputBolNo">BOL No</label>
        <input class="form-control" id="inputBolNo" type="text" name="bolNo" value="<%= bolNo %>" pattern="[A-Z]{1}[0-9]{11}" placeholder="Arrangement #" required readonly>
      </div>

      <div class="form-group col-md-4">
        <label for="inputTruck">Truck Type</label>
        <% if (truckType === "Flatbed") { %>
          <div class="form-group">
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" id="inputTruck" type="radio" name="truckOptions" id="flatbed" value="Flatbed" checked required readonly>
              <label class="form-check-label" for="inputTruck">Flatbed</label>
            </div>
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" id="inputTruck" type="radio" name="truckOptions" id="van" value="Van" required readonly>
              <label class="form-check-label" for="inputTruck">Van</label>
            </div>
          </div>
        <% } else { %>
          <div class="form-group">
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" id="inputTruck" type="radio" name="truckOptions" id="flatbed" value="Flatbed" required readonly>
              <label class="form-check-label" for="inputTruck">Flatbed</label>
            </div>
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" id="inputTruck" type="radio" name="truckOptions" id="van" value="Van" checked required readonly>
              <label class="form-check-label" for="inputTruck">Van</label>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label for="inputSpecialNote">Special Note</label>
        <input class="form-control" id="inputSpecialNote" type="text" name="specialNote" value="<%= specialNote %>" readonly>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputCarrier">Carrier</label>
        <input class="form-control" id="inputCarrier" type="text" name="carrier" value="<%= carrier %>" required>
      </div>

      <div class="form-group col-md-6">
        <label for="inputFreight">Freight ($/Truck)</label>
        <input class="form-control" id="inputFreight" type="text" name="freight" value="<%= freight %>" pattern="[0-9]{0,9}.[0-9]{0,2}" title="Please enter up to 2 decimal places: $123 or $123.45" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="button" value="update">Update</button>
      </div>
    </div>

  </form>

<%- include('partials/footer'); -%>
