<%- include("partials/header"); -%>

<body>
  <div class="container">
    <div class="title">
      <h2 class="homepage-title-heading" style="display: inline;">Freight Report</h2>
      <button class="export-csv-btn" onclick="exportTableToCSV('freight_report.csv')" name="button">Export to CSV File</button>
    </div>

    <br>

    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="text-center"><input type="checkbox" onClick="toggle(this)" hover="Select"></th>
          <th class="text-center">Shipping Date</th>
          <th class="text-center">BOL No</th>
          <th class="text-center">Ship From</th>
          <th class="text-center">Delivery To</th>
          <th class="text-center">Weight(Kg)</th>
          <th class="text-center">Weight(Lb)</th>
          <th class="text-center">Status</th>
          <th class="text-center">Carrier</th>
          <th class="text-center">Freight</th>
        </tr>
      </thead>

    <tbody>
      <% requests.sort(compare_date).forEach(function(request) { %>
        <% freights.forEach(function(freight) { %>
          <% if (request._id.equals(freight.request_id)) { %>
            <tr>
              <th class="text-center"><input type="checkbox" name="checkbox" value="<%=request._id%>" form="delete-form"></th>
              <td><%= request.shippingDate %></td>
              <td><%= request.bolNo %></td>
              <td><%= request.shipFromCity %> <%= request.shipFromState %></td>
              <td><%= request.shipToCity %> <%= request.shipToState %></td>
              <td><%= request.weightKg %></td>
              <td><%= request.weightLb %></td>
              <td><%= request.status %></td>
              <td><%= freight.carrier %></td>
              <td>$<%= freight.freight.toFixed(2) %></td>
            </tr>
          <% } %>
        <% }) %>
      <% }) %>

    </tbody>
  </table>
</div>

<%- include("partials/footer"); -%>
<%- include("partials/scripts"); -%>
</body>

</html>

