<%- include("partials/header"); -%>

<body>
  <div class="container">
    <div>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th class="text-center"><input type="checkbox" onClick="toggle(this)" hover="Select"></th>
            <th class="text-center">BOL No</th>
            <th class="text-center">Customer</th>
            <th class="text-center">Shipping From</th>
            <th class="text-center">Delivery To</th>
            <th class="text-center">Carrier</th>
            <th class="text-center">Freight</th>
            <th class="text-center">Weight(Kg)</th>
            <th class="text-center">Weight(Lb)</th>
          </tr>
        </thead>
    


  <tbody>



    <% requests.sort(compare_date).forEach(function(request) { %>
      <% freights.forEach(function(freight) { %>

        <% if (request._id.equals(freight.request_id)) { %>
          <tr>
            <th class="text-center"><input type="checkbox" name="checkbox" value="<%=request._id%>" form="delete-form"></th>
            <td><a href="/freight-detail/<%= request._id %>"><%= request.bolNo %></a></td>
            <td><%= request.customer %></td>
            <td><%= request.shippingFrom %></td>
            <td><%= request.deliveryTo %></td>
            <td><%= freight.carrier %></td>
            <td>$<%= numberWithCommas(freight.freight.toFixed(2)) %></td>
            <td><%= numberWithCommas(request.weightKg) %></td>
            <td><%= numberWithCommas(request.weightLb) %></td>
          </tr>
        <% } %>
      <% }) %>
    <% }) %>

  </tbody>
</table>
</div>
</div>

<%- include("partials/footer"); -%>
