<%- include("partials/header"); -%>

<div class="row">
  <div class="form-group">
    <form id="modify-form" action="/modify" method="post">
      <button class="btn btn-delete" type="submit" name="button" value="delete">DELETE</button>
      <button class="btn btn-modify" type="submit" name="button" value="shipping"
        onclick="changeBackground(this)">CONFIRM SHIPPING</button>
    </form>
    <h2 class="title">HOME PAGE</h1>
  </div>
</div>

<!-- compare shipping dates in the array of javascript object and sort it in ascending order -->
<% function compare_date(a, b) { %>
<% if (a.shippingDate < b.shippingDate) { %>
<% return -1; %>
<% } else if (a.shippingDate > b.shippingDate) { %>
<% return 1; %>
<% } else { %>
<% return 0; %>
<% } %>
<% }; %>

<% function numberWithCommas(n) { %>
<% return n.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","); %>
<% }; %>

<!-- show each item in the request information -->

<div class="a-request-group">
  <% requests.sort(compare_date).forEach(function(request) { %>
  <div class="a-request">
    <div class="a-request-inner">
      <div class="a-fixed-right-grid">
        <div class="a-fixed-right-grid-inner" style="overflow: hidden;">
          <div class="a-fixed-right-grid-col a-col-left" style="padding-right: 0%; float: left;">
            <div class="a-column a-span5">
              <h5>Shipping Address</h5>
              <ul class="displayAddressUL">
                <li class="displayAddressLI"><%= request.customer %></li>
                <li class="displayAddressLI"><%= request.deliveryTo %></li>
                <li class="displayAddressLI">Please Deliver by <%= request.deliveryDate %></li>
              </ul>
            </div>
            <div class="a-column a-span7">

              <h5>Shipping Address</h5>
              <ul class="displayAddressUL">
                <li class="displayAddressLI"><%= request.customer %></li>
                <li class="displayAddressLI"><%= request.deliveryTo %></li>
                <li class="displayAddressLI">Please Deliver by <%= request.deliveryDate %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>



<!-- </tbody> -->
<!-- </table> -->

<%- include("partials/footer"); -%>