<%- include('partials/header') %>

  <h1>Update Your Request</h1>
  <p>Please update your shipping information below and submit</p>
  <br/>
  <form class="" action="/update" method="post">

    <div class="form-group">
      <label>Customer</label>
      <input class="form-control" type="text" name="updateCustomer" value="<%= customer %>" required>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Shipping From</label>
        <input type="text" class="form-control" name="updateFrom" value="<%= from %>" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Delivery To</label>
        <input type="text" class="form-control" name="updateTo" value="<%= to %>" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>Shipping Date</label>
        <input class="form-control" type="date" name="updateShippingDate" value="<%= shippingDate %>" required>
      </div>

      <div class="form-group col-md-6">
        <label>Delivery Date</label>
        <input class="form-control" type="date" name="updateDeliveryDate" value="<%= deliveryDate %>" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label>Weight(kg)</label>
        <input class="form-control" type="text" name="updateWeightKg" value="<%= weightKg %>" required>
      </div>

      <div class="form-group col-md-4">
        <label>BOL No</label>
        <input class="form-control" id="bolNo" type="text" name="updateBOLNo" value="<%= bolNo %>" pattern="[A-Z]{1}[0-9]{11}" placeholder="Arrangement #" required>
      </div>

      <div class="form-group col-md-4">
        <label>Truck Type</label>
        <% if (truckType === "Flatbed") { %>
          <div class="form-group">
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" type="radio" name="truckOptions" id="flatbed" value="Flatbed" checked required>
              <label class="form-check-label" for="flatbed">Flatbed</label>
            </div>
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" type="radio" name="truckOptions" id="van" value="Van" required>
              <label class="form-check-label" for="flatbed">Van</label>
            </div>
          </div>
        <% } else { %>
          <div class="form-group">
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" type="radio" name="truckOptions" id="flatbed" value="Flatbed" required>
              <label class="form-check-label" for="flatbed">Flatbed</label>
            </div>
            <div class="form-check radio-inline">
              <input class="form-check-input truck-type" type="radio" name="truckOptions" id="van" value="Van" checked required>
              <label class="form-check-label" for="flatbed">Van</label>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <div class="form-group">
      <label>Special Note</label>
      <input class="form-control" type="text" name="updateSpecialNote" value="<%= specialNote %>">
    </div>

    <button class="btn btn-primary" type="submit" name="button" value="update">Update</button>

  </form>

<%- include('partials/footer') %>
