<%- include('partials/header') %>
  <p><%= customer %></p>
  <p><%= from %></p>
  <p><%= to %></p>
  <p><%= shippingDate %></p>
  <p><%= deliveryDate %></p>
  <p><%= weightKg %></p>
  <p><%= weightLb %></p>
  <p><%= bolNo %></p>
  <p><%= truckType %></p>
  <p><%= specialNote %></p>
<%- include('partials/footer') %>
